.awards.section
  .section-title
    div Awards
    hr(style='border: none; background:#FFFFFF; height:1px; width: 90px; margin-top: 0')
  .awards-container
    a(href='http://www.danielsfund.org/Scholarships/')
      h1.grey.daniels Daniels Fund Scholarship
    a(href='http://www.danielsfund.org/Scholarships/')
      img(src='img/df.png', alt='Daniels Fund', style='width: 150px; height: 150px;', draggable='false')
    h1.grey(style='font-weight: 300') Character - Leadership - Service
