.contact.section
  .section-title
    div Contact
    hr(style='border: none; background:#FFFFFF; height:1px; width: 90px; margin-top: 0')
  .contact-container
    .contact-left
      a.contact-link(href='mailto:benbasinski97@gmail.com')
        i.fa.fa-envelope(aria-hidden='true')
        | benbasinski97@gmail.com
      a.contact-link(href='mailto:bbasinsk@uw.edu')
        i.fa.fa-university(aria-hidden='true')
        | bbasinsk@uw.edu
      a.contact-link(href='https://www.linkedin.com/in/ben-basinski-84958b121')
        i.fa.fa-linkedin(aria-hidden='true')
        | LinkedIn - Ben Basinski
    .contact-right
      a.contact-link(href='tel:+1-970-433-5771')
        i.fa.fa-phone(aria-hidden='true')
        | 970.433.5771
      a.contact-link(href='https://twitter.com/BenBasinski/')
        i.fa.fa-twitter(aria-hidden='true')
        | Twitter - BenBasinski
      a.contact-link(href='https://www.instagram.com/benbasinski97/')
        i.fa.fa-instagram(aria-hidden='true')
        | Instagram - benbasinski97
  h4 Made from scratch by Ben. 2016
