.employment.section
  .section-title
    div Employment
    hr(style='border: none; background:#FFFFFF; height:1px; width: 140px; margin-top: 0')
  .employment-container

    .employment-card
      .employment-left
        a(href='http://www.dazbog.com/')
          img.employment-img(src='img/dazbog.jpg', alt='Dazbog Coffee', draggable='false')
      .employment-right
        a(href='http://www.dazbog.com/')
          h1 Dazbog Coffee
        h4.position Barista
        h4.location Denver, CO
        span.date Jul 2016 - Current

    .employment-card
      .employment-left
        a(href='http://www.microsoftstore.com/seattle')
          img.employment-img(src='img/store.jpg', alt='Microsoft Store', draggable='false')
      .employment-right
        a(href='http://www.microsoftstore.com/seattle')
          h1 Microsoft Store
        h4.position Product Advisor
        h4.location Seattle, WA
        span.date Oct 2015 - Jun 2016

    .employment-card
      .employment-left
        a(href='http://stores.bestbuy.com/co/grand-junction/585-24-1-2-rd-1124.html')
          img.employment-img(src='img/bestbuy.jpg', alt='Best Buy', draggable='false')
      .employment-right
        a(href='http://stores.bestbuy.com/co/grand-junction/585-24-1-2-rd-1124.html')
          h1 Best Buy
        h4.position Sales Consultant
        h4.location Grand Junction, CO - Seattle, WA
        span.date Oct 2014 - Oct 2015

    .employment-card
      .employment-left
        a(href='http://www.sears.com/stores/colorado/grand-jct/0002361.html')
          img.employment-img(src='img/sears.jpg', alt='Sears', draggable='false')
      .employment-right
        a(href='http://www.sears.com/stores/colorado/grand-jct/0002361.html')
          h1 Sears
        h4.position Salesman
        h4.location Grand Junction, CO
        span.date Jan 2014 - Oct 2014
