.me
  .me-container
    .me-left
      a(href='https://www.linkedin.com/in/ben-basinski-84958b121')
        img(src='img/profile.png', alt='Ben Basinski', draggable='false')
      .basic-info
        .location
          span.font-regular.info-element Location:
          span.font-light.small.info-element Seattle, WA
        .age
          span.font-regular.info-element Age:
          span.font-light.small.info-element 19 years
    .me-right
      h3 My name is Ben. I'm a student.  
      hr(style='border:none; background: #FFFFFF; height: 1px; width: 70px')
      p.more I study how we can make technology easier for people to learn and use.
      p.more I have a lot of experience working with people and I love to do so!
      div.onmobile
        hr(style='border:none; background: #FFFFFF; height: 1px; width: 70px')
