.nav-bar
  .nav-center
    a.nav-element(onclick='scrollToMe()') Me
    a.nav-element(onclick='scrollToSchool()') School
    a.nav-element(onclick='scrollToEmployment()') Employment
    h1.logo
      strong BEN
      | BASINSKI
    a.nav-element(onclick='scrollToAwards()') Awards
    a.nav-element(onclick='scrollToSkills()') Skills
    a.nav-element(onclick='scrollToContact()') Contact
// <div class="nav-blur"></div>
