.school.section
  .section-title
    div School
    hr(style='border: none; background:#FFFFFF; height:1px; width: 80px; margin-top: 0')
  .school-container
    .school-left
      a(href='http://www.washington.edu/')
        h1(style='margin-bottom: 0') University of Washington
      span.date(style='margin-bottom: 10px') Sep 2015 - Jun 2019
      a(href='http://www.hcde.washington.edu/')
        h2.grey B.S. Human-Centered
      a(href='http://www.hcde.washington.edu/')
        h2.grey Design and Engineering
      span.date.grey (in-progress)
    .school-right
      a(href='http://www.washington.edu/')
        img.school-img(src='img/uw.jpg', alt='University of Washington', draggable='false')
