.skills.section
  .section-title
    div Skills
    hr(style='border: none; background:#FFFFFF; height:1px; width: 65px; margin-top: 0')
  .skills-container
    .skills-left
      h2(style='margin-top: 10px') Coding
      hr(style='border: none; background:#FFFFFF; height:1px; width: 60px; margin: 0 0 10px 0')
      h4
        | Java
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
      h4
        | HTML
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
      h4
        | CSS
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
      h2(style='margin-top: 10px') Other
      hr(style='border: none; background:#FFFFFF; height:1px; width: 50px; margin: 0 0 10px 0')
      h4
        | Sales
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
    .skills-right
      h2(style='margin-top: 10px') Tools
      hr(style='border: none; background:#FFFFFF; height:1px; width: 50px; margin: 0 0 10px 0')
      h4
        | Adobe Photoshop
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
      h4
        | Sketch 3
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
      h4
        | IntelliJ
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
      h4
        | GitHub
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
      h4
        | Microsoft Office
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star-o(aria-hidden='true')
      h4
        | MacOS
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
      h4
        | Windows
        div
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
          i.fa.fa-star(aria-hidden='true')
